.body_label {
	font-family: inherit; 
	font-size: 1.0em; 
	font-weight: bold;
	color: olive; 
	padding-top: 5px;
}

.body_text {
	font-size: 1.0em;
	padding-left: 10px;
	color: black;
}

.status_ongoing {
	color: white; 
	background: red; 
	font-weight: bold;
}

.status_terminated {
	color: maroon; 
	background: #BDBDBD; 
	font-weight: bold;
}

.status_completed {
	color: black; 
	background: #BDBDBD; 
	font-weight: bold;
}